<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033382181481-cnh43h4ieelqnqcalsdpio81rp9p2ngp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033382181481-cnh43h4ieelqnqcalsdpio81rp9p2ngp</string>
	<key>API_KEY</key>
	<string>AIzaSyBjCon9q_Qd9yQMu4FF4CXx6-H0eFn2Ri4</string>
	<key>GCM_SENDER_ID</key>
	<string>1033382181481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lec.sesac.FireBaseExample</string>
	<key>PROJECT_ID</key>
	<string>sesacfirbaseexample</string>
	<key>STORAGE_BUCKET</key>
	<string>sesacfirbaseexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033382181481:ios:1ec1b1f26db26a062d80f8</string>
</dict>
</plist>